/*Week 04*/
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #e3e3d0;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #e3e3d0;
}
header {
    background-color: #479b6f;
}
nav a:hover {
    background-color: #e3e3d0;
    color: #4a6278;
}
.book, .join {
    background-color: #90bce9;
    color: #111111;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #e3e3d0;
    color: #4a6278;
}
#background {
    background-color: #479b6f;
}
.msg {
    background-color: #e3e3d0;
}
footer {
    background-color: #6da88a;
    color: #111111;
}
.home-title {
    color: #4a6278;
}
h4 {
    color: #4a6278;
}
.msg h2 {
    color: #4a6278;
}
.msg p {
    color: #4a6278;
}
footer a {
    color: #111111;
    text-decoration: none;
}
footer a:hover {
    background-color: #e3e3d0;
    color: #4a6278;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}