@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Montserrat:wght@300&family=Mooli&family=Nunito:wght@300&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

/*Week 04*/
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #111111;
    text-decoration: none;
    padding: 35px;   /*Week 05*/
}
#hero-msg h1 {
    text-align: center;    /*Week 07*/
}
.button-box {
    text-align: center;
}
.home-grid section { /*Week 09: I change from main section to .home-grid section, to don't apply in the second page*/
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #e3e3d0;
    font-family: Mooli, Roboto, Open Sans; /*Week 05*/
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #6da88a;
    display: grid;  /*Week 07*/
    grid-template-columns: 150px auto;  /*Week 07*/
}
nav a:hover {
    background-color: #e3e3d0;
    color: #4a6278;
}
.book, .join {
    background-color: #90bce9;
    color: #111111;
    text-decoration: none;
    font-family: Croissant One, Montserrat, Nunito; /*Week 05*/
    font-size: 18px;
    padding: 15px 30px; /*Week 05*/
    margin-top: 50px;  /*Week 05*/
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #e3e3d0;
    color: #4a6278;
}
#background {
    background-color: #6da88a;
    grid-column: 1/11; /*Week 07*/
    grid-row: 4/9; /*Week 07*/
}
.msg {
    background-color: #e3e3d0;
    line-height: 1.5em;
    padding: 35px;  /*Week 05*/
    margin-top: 200px;  /*Week 05*/
    grid-column: 6/10; /*Week 07*/
    grid-row: 6/7; /*Week 07*/
}
footer {
    background-color: #6da88a;
    color: #111111;
    padding: 25px 50px;  /*Week 05*/
    margin-top: 200px;  /*Week 05*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-title {
    color: #e3e3d0; /*Week 07*/
    font-family: Croissant One, Montserrat, Nunito;
    font-size: 2em;  /*Week 05*/
    margin-top: 10px;  /*Week 05*/
}
#hero-msg h4 {
    color: #e3e3d0; /*Week 07*/
    text-align: center; /*Week 07*/
}
.msg h2 {
    color: #4a6278;
    font-family: Croissant One, Montserrat, Nunito;
}
.msg p {
    color: #4a6278;
    font-size: .8em;  /*Week 05*/
    padding-bottom: 15px;  /*Week 05*/
    box-shadow: 5px 5px 10px black; /*Week 07*/
}
footer a {
    color: #111111;
    text-decoration: none;
}
footer a:hover {
    background-color: #e3e3d0;
    color: #4a6278;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;  /*Week 05*/
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
/*Week05*/
.rivers-card h2, .camping-card h2, .rapids-card h2 {
    font-family: Croissant One, Montserrat, Nunito;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;   /*Week 07*/
    align-self: center; /*Week 07*/
}
footer .social img {
    padding-top: 15px;
}
.rivers-card { /*Week 07*/
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card { /*Week 07*/
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card { /*Week 07*/
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.card-img {
    border: 10px solid #6da88a;
    width: 100%; /*Week 07*/
    transition: transform .5s; /*Week 07*/
    box-shadow: 5px 5px 10px black; /*Week 07*/
}
.card-img:hover { /*Week 07*/
    opacity: .6;
    transform: scale(1.1);
}
.mountains {
    width: 100%; /*Week 07*/
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px black; /*Week 07*/ 
}
/*Week 07*/
nav {
    display: flex;
    justify-content: space-around;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

/*CSS for the Rivers page|Week 09*/
.rivers-title {
    height: 100px;
    margin-top: 75px;
    margin-bottom: 75px;
    display: flex;
    align-items: center;
    background-color: #b2d3f5;
}
.rivers-title h1 {
    margin: auto;
    font-family: Croissant One, Montserrat, Nunito;
}
.rivers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 500px 500px;
    grid-row-gap: 150px;
}
.first-paragraph h2, .second-paragraph h2, .third-paragraph h2 {
    text-align: center;
}


.first-img img {
    box-sizing: border-box;
    grid-row: 1/2;
    grid-column: 1/2;
    margin-right: 50px;
    margin-left: 50px;
    box-shadow: 5px 5px 10px #4a6278;
}
.first-paragraph {
    grid-row: 1/2;
    grid-column: 2/4;
    justify-items: center;
    align-items: center;
    margin-right: 50px;
    text-align: justify;
}


.second-img img {
    grid-row: 2/3;
    grid-column: 3/4;
    margin-right: 50px;
    margin-left: 50px;
    box-shadow: 5px 5px 10px #4a6278;
}
.second-paragraph {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-items: center;
    align-items: center;
    margin-left: 50px;
    text-align: justify;
}


.third-img img {
    grid-row: 3/4;
    grid-column: 1/2;
    margin-right: 50px;
    margin-left: 50px;
    box-shadow: 5px 5px 10px #4a6278;
}
.third-paragraph {
    grid-row: 3/4;
    grid-column: 2/4;
    margin-right: 50px;
    text-align: justify;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h1 {
        color: #e3e3d0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}